<div class="header">
    <div class="header__up">
        <div class="header__up-logo">
            <svg width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3.4507" y="3.48099" width="50.0047" height="50.038" rx="25.0024" fill="white" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.4019 8.81258V28.5001H16.4019V45.6196H28.3783L17.964 28.5001H28.3783L16.4019 8.81258ZM40.3548 31.068V48.1876L28.3783 28.5001H38.7926L28.3783 11.3805H40.3548V28.5001V31.068Z"
                    fill="url(#paint0_radial_21_140)" />
                <rect x="3.4507" y="3.48099" width="50.0047" height="50.038" rx="25.0024" stroke="#F4F4F4"
                    stroke-width="5.08696" />
                <defs>
                    <radialGradient id="paint0_radial_21_140" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(28.3783 28.5001) rotate(90) scale(19.6875 11.9765)">
                        <stop stop-color="#00A3FF" />
                        <stop offset="1" stop-color="#00C2FF" />
                    </radialGradient>
                </defs>
            </svg>
            <span>Городской портал</span>
        </div>
        <div *ngIf="showButtons" class="header__up-buttons">
            <button class="login" (click)="routeAuth('login')">
                Login
            </button>
            <button class="sign-up" (click)="routeAuth('sign-up')">
                Sign Up
            </button>
        </div>
    </div>
    <h1 [align]="'center'">
        Ижевск
    </h1>
    <div *ngIf="showAuthModel" class="auth-container" [ngSwitch]="authPage">
        <div class="auth-container__header">
            <div class="auth-container__header-contant">
                <span [ngClass]="{active: authPage === 'sign-up'}" (click)="changeAuthPage('sign-up')">
                    sign up
                </span>
                <span [ngClass]="{active: authPage === 'login'}" (click)="changeAuthPage('login')">
                    login
                </span>
            </div>
        </div>
        <div *ngSwitchCase="'sign-up'">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="auth-container__inputs-container">
                    <div class="item">
                        <label>Фамилия</label>
                        <input class="form-control" name="lastname" formControlName="userLastname" />
                    </div>
                    <div class="item">
                        <label>Имя</label>
                        <input class="form-control" name="name" formControlName="userName" />
                    </div>
                    <div class="item">
                        <label>Отчество</label>
                        <input class="form-control" name="otch" formControlName="userOtch" />
                    </div>
                </div>
                <div class="auth-container__inputs-container">
                    <div class="item">
                        <label>Логин</label>
                        <input class="form-control" name="login" formControlName="userLogin" />
                    </div>
                    <div class="item">
                        <label>Email</label>
                        <input class="form-control" name="email" formControlName="userEmail" />
                    </div>
                </div>
                <div class="auth-container__inputs-container">
                    <div class="item">
                        <label>Пароль</label>
                        <input class="form-control" name="pass" formControlName="userPass" />
                    </div>
                    <div class="item">
                        <label>Повторите пароль</label>
                        <input class="form-control" name="repass" formControlName="userRepass" />
                    </div>
                </div>
            </form>
        </div>
        <div *ngSwitchCase="'login'">

        </div>
        <button>
            {{authPage === 'sign-up' ? 'sign up' : 'login'}}
        </button>
    </div>
    <div class="header__down">

    </div>
</div>