:host {
  .create-request {
    &__input-container {
      display: flex;
      flex-direction: column;
      label {
        margin: 0 0 8px 4px;
      }
      input {
        margin-bottom: 16px;
        height: 44px;
        border: solid #e1e1e1 1px;
        border-radius: 4px;
        padding-left: 8px;
      }
      .required:after {
        content: "*";
        color: red;
      }
      &.custom-inputfile {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 150%;
          cursor: pointer;
          width: 70px;
          height: 70px;
          border: solid 1px #e1e1e1;
          border-radius: 5px;
          object-fit: cover;
          color: #c3c3c3;
        }
        img {
          width: 70px;
          height: 70px;
          border: solid 1px #e1e1e1;
          border-radius: 5px;
          object-fit: cover;
        }
        input {
          display: none;
        }
      }
    }
    button {
      background: linear-gradient(
        284deg,
        rgb(29 29 229) 31%,
        rgba(0, 155, 255, 1) 100%
      );
      color: #fff;
    }

    .preview-image {
      width: 70px;
      height: 70px;
      background-size: cover;
    }
  }
}
